* {
    margin: 0;
    padding: 0;

}

body {
    position: relative;
}

.chat-messages {
    width: 40%;
    height: 500px;
    position: absolute;
    overflow: scroll;
    font-size: 16px;
    left: 30%;
    top: 27px;
    border: 3px black solid;

}

.title {
    font-size: 20px;
    text-align: center;
    background-color: black;
    color: white;
    position: fixed;
    right: 47%;
    top: 0;
}


/* 指定奇數偶數 */
.section:nth-child(odd) {
    background: pink;
}
.section:nth-child(even) {
    background: yellow;
}

.palette {
    margin-left: 10px;
    margin-right: 10px;
    left: 0;
    position: fixed;
    font-size: 40px;
}